extends layout

block content
    //
      Profile container
    .container.profile
      .span3
        img.avatar(src='/images/about.jpg')
      .span5
        h1 Mayron Cachina
        h3 Web & Mobile
        p Consultor especializado em sistemas mobile, Bacharel em Sistemas de Informação e Pós Graduado em Sistemas Corporativos. Evangelista de Software Livre, desenvolvedor Web Mobile com HTML5, Android, Java, Python e JavaScript. É especialista em  desenvolvimento de aplicações utilizando Phonegap. Organizador do GDG Natal (Google Developer Groups) e membro ativo das comunidades PotiLivre e PhonegapBR.
        p Skills
        span.label.label-primary PHP
        span.label.label-success Android
        span.label.label-info IOS
        span.label.label-warning CSS3
        span.label.label-danger HTML5
    //
      END: Profile container
    //
       Social Icons 
    .row.social
      ul.social-icons
        li
          a(href='#', target='_blank')
            img(src='/images/fb.png', alt='facebook')
        li
          a(href='#', target='_blank')
            img(src='/images/tw.png', alt='twitter')
        li
          a(href='#', target='_blank')
            img(src='/images/go.png', alt='google plus')
        li
          a(href='#', target='_blank')
            img(src='/images/pin.png', alt='pinterest')
        //
                  <li><a href="#" target="_blank"><img src="/images/st.png" alt="stumbleupon"></a></li>
                  <li><a href="#" target="_blank"><img src="/images/dr.png" alt="dribbble"></a></li>
                  
    //
       END: Social Icons 
    //
