doctype html
html
head
    meta(charset='utf-8')
    title Mayron Cachina
    meta(name='keywords', content='desenvolvimento, php, python, django, programação, mysql, linux, ubuntu, java, responsive, bootstrap, flat design, flat ui, portfolio')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Mayron Cachina, Evangelista de Software Livre, desenvolvedor Mobile,  Java, Python e  Startupeiro. Natal - RN Brasil')
    meta(name='author', content='Mayron Cachina')
    meta(name='DC.title', content='Mayron Cachina')
    meta(name='robots', content='ALL')
    meta(name='distribution', content='Global')
    meta(name='rating', content='General')
    meta(name='doc-class', content='Completed')
    //
       styles 
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/stylesheets/icons.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')

  body
    .navbar
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          ul.nav.nav-collapse.pull-right
            li
              if active_index == true
                a.active(href='/')
                  i.icon-user
                  | Profile             
              else
                a(href='/')
                  i.icon-user
                  | Profile
            li
              if active == true
                a.active(href='/slides')
                  i.icon-slideshare
                  | Slides                
              else
                a(href='/slides')
                  i.icon-slideshare
                  | Slides
            li
              if active == true
                a.active(href='/work')
                  i.icon-github
                  | Work                
              else
                a(href='/work')
                  i.icon-github
                  | Work            

            li
              a(href='http://blog.cachina.com.br', target="_blank")
                i.icon-rss-1
                | Blog
          //
             Everything you want hidden at 940px or less, place within here 
          .nav-collapse.collapse
            //
               .nav, .navbar-search, .navbar-form, etc 
       block content
    //
     Scripts 
    script(type='text/javascript', src='/javascripts/jquery-1.10.1.min.js')
    script(src='/javascripts/bootstrap.min.js')
    block scripts