extends layout

block content
    .container.work
        h2 Slides
          ul.work-images
            li
              div
                a.fancybox-thumb.iframe(href='http://www.slideshare.net/slideshow/embed_code/26429517')
                  img(src='http://cdn.slidesharecdn.com/ss_thumbnails/potilivreumacomunidadedesoftwarelivrevoltadaparavoc-130922090743-phpapp01-thumbnail.jpg')
            li
              div
                a.fancybox-thumb.iframe(href='http://www.slideshare.net/slideshow/embed_code/25226393')
                  img(src='http://cdn.slidesharecdn.com/ss_thumbnails/devcastphonegap-130813213552-phpapp01-thumbnail.jpg?cb=1376447936')

            li
              div
                a.fancybox-thumb.iframe(href='http://www.slideshare.net/slideshow/embed_code/21354528')
                  img(src='http://cdn.slidesharecdn.com/ss_thumbnails/potilivre-130517183605-phpapp01-thumbnail.jpg?cb=1368834015')           

            li
              div
                a.fancybox-thumb.iframe(href='http://www.slideshare.net/slideshow/embed_code/20194538')
                  img(src='http://cdn.slidesharecdn.com/ss_thumbnails/apresentacaogdgnatalflisol2013-130429092029-phpapp02-thumbnail.jpg?cb=1367245282')
            li
              div
                a.fancybox-thumb.iframe(href='http://www.slideshare.net/slideshow/embed_code/21163558')
                  img(src='http://cdn.slidesharecdn.com/ss_thumbnails/desbravandoohtml5-130514082149-phpapp02-thumbnail.jpg?cb=1368537990')                    
            li
              div
                a.fancybox-thumb.iframe(href='http://www.slideshare.net/slideshow/embed_code/18336744')
                  img(src='http://cdn.slidesharecdn.com/ss_thumbnails/apresentacaogdgnatal-130406203658-phpapp01-thumbnail.jpg?cb=1365298827')                                      
            li
              div
                a.fancybox-thumb.iframe(href='http://www.slideshare.net/slideshow/embed_code/14018338')
                  img(src='http://cdn.slidesharecdn.com/ss_thumbnails/comoganhardinheironomundomobile-120820072626-phpapp02-thumbnail.jpg?cb=1345465698')
            li
              div
                a.fancybox-thumb.iframe(href='http://www.slideshare.net/slideshow/embed_code/9714713')
                  img(src='http://cdn.slidesharecdn.com/ss_thumbnails/phonegap-111015132423-phpapp02-thumbnail.jpg?cb=1318703239')                                                                          
            li
              div
                a.fancybox-thumb.iframe(href='http://www.slideshare.net/slideshow/embed_code/7972483')
                  img(src='http://cdn.slidesharecdn.com/ss_thumbnails/devandroid-110515133552-phpapp01-thumbnail.jpg?cb=1305484649')                                                                                                        
            li
              div
                a.fancybox-thumb.iframe(href='http://www.slideshare.net/slideshow/embed_code/5864304')
                  img(src='http://cdn.slidesharecdn.com/ss_thumbnails/pythoncomdjango-101122124311-phpapp01-thumbnail.jpg?cb=1290451415')                                                                                            
            li
              div
                a.fancybox-thumb.iframe(href='http://www.slideshare.net/slideshow/embed_code/5543721')
                  img(src='http://cdn.slidesharecdn.com/ss_thumbnails/testedeaplicaeswebcomselenium-101024091309-phpapp02-thumbnail.jpg?cb=1287930011')                                                                                            
            li
              div
                a.fancybox-thumb.iframe(href='http://www.slideshare.net/slideshow/embed_code/4497689')
                  img(src='http://cdn.slidesharecdn.com/ss_thumbnails/seleniumsl-100614102003-phpapp02-thumbnail.jpg?cb=1285337732')                                                                                            
            li
              div
                a.fancybox-thumb.iframe(href='http://www.slideshare.net/slideshow/embed_code/987965')
                  img(src='http://cdn.slidesharecdn.com/ss_thumbnails/introduo-a-linguagem-de-programao-python-1233754644367915-1-thumbnail.jpg?cb=1233783775')                                                                                            
            li
              div
                a.fancybox-thumb.iframe(href='http://www.slideshare.net/slideshow/embed_code/479181')
                  img(src='http://cdn.slidesharecdn.com/ss_thumbnails/firefox-dev-ext-1214094088624432-9-thumbnail.jpg?cb=1214086589')                                                                                            
            li
              div
                a.fancybox-thumb.iframe(href='http://www.slideshare.net/slideshow/embed_code/380143')
                  img(src='http://cdn.slidesharecdn.com/ss_thumbnails/web-20-poder-ao-usurio-1233272552620066-2-090415140848-phpapp01-thumbnail.jpg?cb=1248095736')                                                                                            
            li
              div
                a.fancybox-thumb.iframe(href='http://www.slideshare.net/slideshow/embed_code/1295402')
                  img(src='http://cdn.slidesharecdn.com/ss_thumbnails/django-096-1209509342005285-9-thumbnail.jpg?cb=1209502115')                                                                                            
        //
          END: Work container
block scripts
  //
    Add fancyBox main JS and CSS files 
  script(type='text/javascript', src='/javascripts/jquery.fancybox.js?v=2.1.5')
  link(rel='stylesheet', type='text/css', href='/stylesheets/jquery.fancybox.css?v=2.1.5', media='screen')
  script
    $(document).ready(function() { $(".fancybox-thumb").fancybox({'type' : 'iframe',helpers : {title : { type: 'inside' }, overlay : { css : {'background' : 'rgba(107,104,91,0.65)' } } } }); });