extends layout

block content
    .container.work
        h2 Works
          ul.work-images
            li
              div
                a.fancybox-thumb.iframe(href='http://www.abadaweb.com.br')
                  img(src='http://www.cachina.com.br/media_site/images/sites/aerotur.png', width="80%")
                  p
                    span.label.label-info IOS
            li
              div
                a.fancybox-thumb.iframe(href='http://www.abadaweb.com.br')
                  img(src='http://www.cachina.com.br/media_site/images/sites/cascola.png', width="80%")
                  p 
                    span.label.label-success Android
            li
              div
                a.fancybox-thumb.iframe(href='http://www.abadaweb.com.br')
                  img(src='http://www.cachina.com.br/media_site/images/sites/iv-mostra.png', width="80%")
                  p
                    span.label.label-info IOS
            li
              div
                a.fancybox-thumb.iframe(href='http://www.abadaweb.com.br')
                  img(src='http://www.cachina.com.br/media_site/images/sites/paparango.png', width="80%")
                  p
                    span.label.label-success Android
                    span.label.label-info IOS
            li
              div
                a.fancybox-thumb.iframe(href='http://www.abadaweb.com.br')
                  img(src='http://www.cachina.com.br/media_site/images/sites/abadaweb2.png')
            li
              div
                a.fancybox-thumb.iframe(href='http://sfd.potilivre.org/')
                  img(src='http://www.cachina.com.br/media_site/images/sites/softwarefreedom.jpg')

            li
              div
                a.fancybox-thumb.iframe(href='http://srrn.org.br/venrc/')
                  img(src='http://www.cachina.com.br/media_site/images/sites/venrc.png')           

        //
          END: Work container
block scripts
  //
    Add fancyBox main JS and CSS files 
  script(type='text/javascript', src='/javascripts/jquery.fancybox.js?v=2.1.5')
  link(rel='stylesheet', type='text/css', href='/stylesheets/jquery.fancybox.css?v=2.1.5', media='screen')
  script
    $(document).ready(function() { $(".fancybox-thumb").fancybox({'type' : 'iframe',helpers : {title : { type: 'inside' }, overlay : { css : {'background' : 'rgba(107,104,91,0.65)' } } } }); });